button,
[type=button],
[type=reset],
[type=submit] {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}


.large-btn {
    height: 64px;
    max-width: 348px;

    &.large-btn2 {
        max-width: 280px;
    }

    &.blue-btn {
        background-color: $color-224598;
        color: $white;
        border: 1px solid $color-224598;

        &:hover{
            background-color:rgba($color: $color-224598, $alpha: 0.8);
        }
    }

    &.blue-btn2 {
        background-color: $color-224598;
        color: $white;
        border: 1px solid $color-224598;

        &:hover{
            background-color:rgba($color: $color-224598, $alpha: 0.8);
        }
    }

    &.btn-808080 {
        background-color: $white;
        color: $black;
        border: 1px solid $color-808080;

        &:hover{
            background-color:rgba($color: $white, $alpha: 0.8);
        }
    }

    &.w-248 {
        min-width: 248px;
    }
}

.btnB {
    height: 64px;
    padding: 0px 35px;

    &.blue-btn {
        background-color: $color-224598;
        color: $white;
        border: 1px solid $color-224598;

        &:hover{
            background-color:rgba($color: $color-224598, $alpha: 0.8);
        }
    }

    &.DEDEDE-bg-btn {
        background-color: $color-DEDEDE;
        color: $color-808080;
        border: 1px solid $color-DEDEDE;

        &:hover{
            background-color:rgba($color: $color-DEDEDE, $alpha: 0.8);
        }
    }
}

.bg-224598-btn{
    &:hover{
        background-color :rgba($color: $color-224598, $alpha: 0.8);
    }
}
