// background color 

.bg-F8F8F8 {
    background-color: $color-F8F8F8;
}

.bg-224598 {
    background-color: $color-224598;
}

.bg-3C3C3C {
    background-color: $color-3C3C3C;
}

.bg-797979 {
    background-color: $color-797979;
}

.bg-EBEBEB {
    background-color: $color-EBEBEB;
}

.bg-DEDEDE {
    background-color: $color-DEDEDE;
}

.bg-C4C4C4 {
    background-color: $color-C4C4C4;
}

.bg-F0F0F0 {
    background-color: $color-F0F0F0;
}

.bg-808080 {
    background-color: $color-808080;
}

.bg-F5F5F5 {
    background-color: $color-F5F5F5;
}

.bg-707070 {
    background-color: $color-707070;
}

.bg-0F0F0F {
    background-color: $color-0F0F0F;
}

.bg-00000014 {
    background-color: $color-00000014;
}

.bg-FFFFFF29 {
    background-color: $color-FFFFFF29;
}


// text color 

.text-F8F8F8 {
    color: $color-F8F8F8;
}

.text-224598 {
    color: $color-224598;
}

.text-3C3C3C {
    color: $color-3C3C3C;
}

.text-797979 {
    color: $color-797979;
}

.text-EBEBEB {
    color: $color-EBEBEB;
}

.text-DEDEDE {
    color: $color-DEDEDE;
}

.text-C4C4C4 {
    color: $color-C4C4C4;
}

.text-F0F0F0 {
    color: $color-F0F0F0;
}

.text-808080 {
    color: $color-808080;
}

.text-F5F5F5 {
    color: $color-F5F5F5;
}

.text-707070 {
    color: $color-707070;
}

.text-0F0F0F {
    color: $color-0F0F0F;
}

.text-00000014 {
    color: $color-00000014;
}

.text-FFFFFF29 {
    color: $color-FFFFFF29;
}



// font size 


.font10 {
    font-size: $font10;
}

.font12 {
    font-size: $font12;
}

.font13 {
    font-size: $font13;
}

.font14 {
    font-size: $font14;
}

.font16 {
    font-size: $font16;
}

.font18 {
    font-size: $font18;
}

.font22 {
    font-size: $font22;
}

.font26 {
    font-size: $font26;
}

.font30 {
    font-size: $font30;
}

.font32 {
    font-size: $font32;
}


// line height 


.leading14 {
    line-height: $leading14;
}

.leading19 {
    line-height: $leading19;
}

.leading22 {
    line-height: $leading22;
}

.leading24 {
    line-height: $leading24;
}

.leading30 {
    line-height: $leading30;
}

.leading34 {
    line-height: $leading34;
}

.leading67 {
    line-height: $leading67;
}


// letter spacing 


.space-0_3 {
    letter-spacing: $space-0_3;
}

.space-0_12 {
    letter-spacing: $space-0_12;
}

.space-0_13 {
    letter-spacing: $space-0_13;
}

.space-0_14 {
    letter-spacing: $space-0_14;
}

.space-0_16 {
    letter-spacing: $space-0_16;
}

.space-0_18 {
    letter-spacing: $space-0_18;
}

.space-0_22 {
    letter-spacing: $space-0_22;
}

.space-0_26 {
    letter-spacing: $space-0_26;
}

.space-0_32 {
    letter-spacing: $space-0_32;
}



// radius 


.radius2 {
    border-radius: $radius2 ;
}

.radius4 {
    border-radius: $radius4 ;
}

.radius5 {
    border-radius: $radius5 ;
}

.radius7 {
    border-radius: $radius7 ;
}

.radius10 {
    border-radius: $radius10;
}

.radius11 {
    border-radius: $radius11;
}

.radius30 {
    border-radius: $radius30;
}

.opacity60 {
    opacity: $opacity60;
}